<div *ngIf="categoryItems.length != 0" class="album py-2 bg-body-tertiary">
    <div class="container">
    <h3>Category : <span>{{categoryName}}</span></h3>
    <br/>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let medicine of categoryItems" class="col">
          <div class="card shadow-sm">
            <img src={{medicine.medicineImage}} width="100%" height="225" role="img"/>
            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <div class="card-body">
              <h5>{{medicine.medicineName}}</h5>
              <h6>{{medicine.medicinePrice | currency : "INR"}}</h6>
              <p class="card-text">{{medicine.medicineDescription.substring(0, 40)}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary">View</button>
                  <!-- <button (click)="addtocart(medicine.medicineId)" type="button" class="btn btn-sm btn-warning">Add to Cart</button> -->
                </div>
                <small class="text-body-secondary">{{medicine.seller}}</small>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div *ngIf="categoryItems.length == 0">
    <h1>There is no product in this category</h1>
</div>
