<!-- <div class="container">
    <div class="row">
        <div class="col-lg-6 successfull">
            <h1>Order is Successfull</h1>
        </div>
        <div class="col-lg-6">
            <h2>Order Summary</h2>

        </div>
    </div>
</div> -->

<div class="cart-empty">
    <img width="50" height="50" src="https://cdn-icons-png.flaticon.com/512/2382/2382533.png"/>
    <br/>
    <h1>Your Order is Successfull :)</h1>
    <strong>You will receive the package in <span style="color : orangered">2</span> days</strong>
    <br/>
    <button routerLink="/medicine" class="btn btn-primary">Go to Medicine Page</button>
</div>
